body, html{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

.containter{ 
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 3;
}

h1{ 
    background-color: crimson;
}

.item1{ 
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}